discord.py==0.16.12
aiohttp==1.0.5
asyncio==3.4.3
async-timeout==3.0.1
beautifulsoup4==4.7.1
bs4==0.0.1
DateTime==4.3
openpyxl==2.5.12
request==2018.11.20
requests==2.21.0
urlopen==1.0.0
selenium==3.141.0
html5==0.0.9
html5lib==1.0.1
psutil==5.5.1
youtube-dl==2019.2.18
